.Contador input {
    font-size: 1.4rem;
    width: 140px;
}

.Contador button {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 10px;
    background-color: rgb(19, 181, 245);
    color: white;
    font-size: 1.4rem;
}